!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Jamie Wong
    %style
      :sass
        // ------------ Begin Reset -------------
        body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
          margin: 0
          padding: 0
          
        table
          border-collapse: collapse
          border-spacing: 0
          
        fieldset, img
          border: 0
          
        address, caption, cite, code, dfn, th, var
          font-style: normal
          font-weight: normal
          
        caption, th
          text-align: left

        h1, h2, h3, h4, h5, h6
          font-size: 100%
          font-weight: normal
          
        q:before, q:after
          content: ''
          
        abbr, acronym
          border: 0

        *
          outline: none

        legend
          margin: 0
          padding: 0

        html, body
          height: 100%
          
        a img
          display: block
        // -------------  End Reset -------------

        @media print
          body
            font-size: 9pt
        
          .page_break
            display: none
            page-break-before: always
        
        @media screen
          body
            font-size: 10pt
            margin: 25px 100px
        
        body
          font-family: "Times New Roman"
        
        h1
          font-size: 18pt
          font-weight: bold

        .header
          text-align: center 
        
        table
          margin-left: auto
          margin-right: auto
          margin-bottom: 1em
          border-collapse: collapse
          border-bottom: 1px groove black
          width: 100%
          font-size: 10pt 
          td
            padding-left: 4px
            padding-right: 4px
            width: 30% 
        
        td, th
          &.left
            text-align: left 
          &.right 
            text-align: right 
          &.center 
            text-align: center 
        
        th
          font-weight: bold 

        h2, h3
          font-weight: bold 
        
        h3, h4
          margin-left: 2em 

        ul
          margin-bottom: 1em
          ul
            margin-bottom: 0
        
        li 
          margin-left: 5em
          li
            margin-left: 2em

        code
          font-size: 9pt
        
        tfoot
          height: 4pt

  %body
    .header
      :markdown
        # Jamie Wong
        2A Software Engineering  
        20342440

    %table.info_table
      %thead
        %tr
          %th.left &nbsp;
          %th.center &nbsp;
          %th.right &nbsp;
      %tfoot
        -# Spacer
        %tr
          %td{:colspan => 3} 
            &nbsp;
      %tbody
        %tr
          %td.left &nbsp;
          %td.center www.jamie-wong.com
          %td.right &nbsp;
        %tr
          %td.left &nbsp;
          %td.center jamie.lf.wong@gmail.com
          %td.right &nbsp;
        %tr
          %td.left &nbsp;
          %td.center Email for other contact info
          %td.right &nbsp;
    -# TODO
      * Update SO stats
      * Add github
      * Add links
      * Personal projects?

    :markdown
      Work Experience
      ---------------

      ### Software Development Intern
      #### Kontagent, Toronto, ON, January - April 2011
        * Led a large scale refactor effort
        * Recommended and performed the creation of technical documentation, best practices and a style guide
        * Dramatically improved automated testing for the client-facing Django project
        * Tools/Frameworks used: Django 1.1 and 1.2, jQuery, HTML, CSS, svn

      ###  Web Developer
      #### The Working Group, Toronto, ON, May - August 2010  
        * Project lead on Campus Perks contest system - see campusperks.ca
        * Interacted directly with clients, obtaining specification and recommending improvements
        * Tools/Frameworks used: Rails 2.x and 3.0, jQuery, Prototype, HTML (haml), CSS (sass), git, svn

      ### Camp Instructor
      #### Virtual Ventures Summer Camp, Ottawa, ON, Summers of 2007-2009  
        * Designed original lesson plans to educate campers aged 10-15 about graphic design, computer science and information security
        * Taught groups of up to 40 campers about HTML, CSS and webpage creation through SSH and SCP
        * Created online registration system in php and MySQL serving hundreds of parents
        * Created AJAX powered camper sign in/out system used by camp instructors throughout summer 2009


      Summary of Qualifications
      -------------------------

      ### Languages
      #### In rough order of proficiency
        * JavaScript (jQuery, Prototype, Backbone): 8 months workplace experience, personal projects
          * Learned about `this`, `.prototype` and `apply` making a jQuery plugin for elegant DOM generation

        * Python (Django): 4 months workplace experience, personal projects, and competition
          * Learned to love docstrings, list comprehensions and pylint making a 2v2 Starcraft 2 Tournament Ladder viewer

        * Coffeescript: personal projects
          * Learned to stop worrying about parens and `this` making LL1 and SLR1 parsers for propositional logic

        * Ruby (Ruby on Rails): 4 months workplace experience, personal projects
          * Learned to love haml and sass while learning converting an internal CMS to be Rails 3 compliant

        * php: Personal projects and competition
          * Learned to fear the evil that is `$$` making a web-based Image to ASCII art converter 

        * C99 and C++: Course work, personal projects, and competitions
          * Learned to grok pointers making a graphical animation of Towers of Hanoi

        * MIPS and Coldfire 68k assembly: Course work
          * Learned to appreciate stack frames making a calculator for a 68k Coldfire board.

        * Experienced with Regular Expressions, MySQL, AJAX, JSON, (semantically correct) HTML, and CSS
        * Current working towards learning Haskell

      ### Tools and Software
        * Editing: predominately Vim, experience with Dev C++, Eclipse, SciTE
        * Source Control: git, svn
        * Build Systems: GNU make, rake

      ### Other Assets
        * Strong advocate of test driven development - untested code is broken code
        * Strong advocate of code review - unreviewed code is bad code
        * Passionate about learning - vast majority of technical knowledge was self taught out of interest
        * Teaching: developed while explaining technical concepts at Virtual Ventures Science and Technology Summer Camp to groups of 10 to 40 people

      Extracurricular
      ---------------

      ### Avid Stack Overflow Contributor
      #### stackoverflow.com (username: Jamie Wong), March 29, 2010 - Present  
        * Predominately answering questions about JavaScript, Ruby on Rails, and php
        * 181 answers (65 accepted) as of Sept. 13, 2010

      ### ACM International Collegiate Programming Contest (ACM ICPC) Competitor
      #### University of Waterloo, September 2009 - February 2010
        * One of nine students selected to represent the University of Waterloo
        * Worked in a team of three to rapidly develop and implement solutions coded in C++ to problems within five hours
        * Debugged code and designed test cases on the fly during competition
        * 13th place finish out of 113 teams in East Central North America

    .page_break

    :markdown

      Awards
      ------

      ### Competition
        * Google Code Jam Online Round 2 Qualifier, 2009 and 2010 (username: phleet)
        * National Bronze Medallist, Canadian Computing Contest, University of Waterloo, February 2009
        * 1st Place in Eastern Ontario, Canadian Computing Contest, University of Waterloo, February 2009
        * 1st Place Team in Eastern Ontario, Educational Computing Organization of Ontario, April 2009
        * 1st Place Team, Algonquin SAT Programming Olympics, May 2008 and 2009
        * Best User Interface in Show, Algonquin SAT Programming Olympics, May 2008 and 2009


      ### Academic Awards
        * Term Dean's Honour List, University of Waterloo, Fall 2009 and Winter 2010
          * Awarded to students in excellent academic standing (combination of GPA and percentile rank from the top)

        * Software Engineering Entrance Scholarship, University of Waterloo, September 2009
          * Awarded to students of academic excellence entering the Software Engineering program

        * President's Scholarship of Distinction, University of Waterloo, September 2009
          * Achieved above 95% Grade 12 average

        * Student's Council Physics Prize, Lisgar Collegiate Institute, June 2009
          * Highest final grade in Grade 12 Physics

        * The Jerry Dermer Memorial Prize in Engineering, Lisgar Collegiate Institute, June 2009
          * Awarded to the student with the highest academic standing pursuing engineering

        * William Aird Ross Scholarship for Grade 12 Math, Lisgar Collegiate Institute, June 2009
          * Highest combined average for Advanced Functions, Calculus and Vectors, and Statistics

      Education
      ---------

      ### Candidate for Bachelor of Software Engineering
        * Honours Software Engineering, University of Waterloo, Ontario, September 2009 - Present
        * Relevant Assignments:
          * Built a calculator in Coldfire 68k assembly - ECE 222
          * Wrote a compiler from a subset of C to MIPS in C++ - CS 241
          * Created playable 1 dimensional pong in VHDL - SE 141

      ### Ontario Secondary School Diploma
        * Lisgar Collegiate Institute, Ottawa, ON, September 2005 - June 2009

      Interests
      ---------
        * Badminton, Dance (Popping), Puzzles, Information Security
