!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml", :id => 'resume'}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Jamie Wong
    %style{:media => "print"}
      :sass
        body
          a
            border: none !important

        body
          h1
            color: black !important

    %style{:media => "screen"}
      :sass
        .container
          padding-top: 25px !important
          padding-bottom: 25px !important

    %style
      :sass
        // Because Jobmine smashes all your HTML together, if you don't scope
        // the styles, it'll mess with your transcript and work term reviews
        #jlfwong-container
          width: 100%

          // ------------ Begin Reset -------------
          body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td
            margin: 0
            padding: 0

          table
            border-collapse: collapse
            border-spacing: 0

          fieldset, img
            border: 0

          address, caption, cite, code, dfn, th, var
            font-style: normal
            font-weight: normal

          caption, th
            text-align: left

          h1, h2, h3, h4, h5, h6
            font-size: 100%
            font-weight: normal

          q:before, q:after
            content: ''

          abbr, acronym
            border: 0

          *
            outline: none

          legend
            margin: 0
            padding: 0

          body
            height: 100%

          a img
            display: block
          // -------------  End Reset -------------

          width: 750px
          margin: 0 auto
          font-family: Garamond, "Times New Roman", serif
          font-size: 10pt

          .page_break
            page-break-before: always

          h1
            font-size: 27pt
            font-weight: bold
            color: #777

          .header
            text-align: center

          table
            margin-left: auto
            margin-right: auto
            margin-bottom: 1em
            border-collapse: collapse
            border-bottom: 1px groove black
            width: 100%
            font-size: 10pt
            td
              padding-left: 4px
              padding-right: 4px
              width: 30%

          td, th
            &.left
              text-align: left
            &.right
              text-align: right
            &.center
              text-align: center

          th
            font-weight: bold

          h2, h3
            font-weight: bold

          h3, h4
            margin-left: 2em

          ul
            margin-bottom: 1em
            ul
              margin-bottom: 0

          li
            margin-left: 5em
            li
              margin-left: 2em

          code
            font-size: 9pt

          tfoot
            height: 4pt

          a
            color: black
            text-decoration: none
            border-bottom: 1px #666 dotted
            &:hover
              color: #666
              border-bottom: none

          .summary p
            margin: 0 1em 1em 1em
            margin-bottom: 1em
            font-size: 10pt
            text-indent: 2em
            text-align: justify

  %body
    #jlfwong-container
      .header
        %h1 Jamie Wong

      %table.info_table
        %thead
          %tr
            %th.left &nbsp;
            %th.center &nbsp;
            %th.right &nbsp;
        %tfoot
          -# Spacer
          %tr
            %td{:colspan => 3} 
              &nbsp;
        %tbody
          %tr
            %td.left
              %a{:href => 'http://github.com/phleet'}
                github.com/phleet
            %td.center 
              %a{:href => 'http://www.jamie-wong.com'}
                www.jamie-wong.com
            %td.right jamie.lf.wong@gmail.com

      .summary
        :markdown
          My name is Jamie Wong and I like to build things. Coding personal projects since the 7th grade has given me a
          great appreciation for perpetual self-learning through doing. I'm a huge advocate of open source, test driven
          development (untested code is broken code) and code review (unreviewed code is bad code). I have a fascination
          with puzzles and problem solving that both led me to success in national and international competition and
          fostered my passion in programming. When I'm not pushing the latest commits to my projects on [github][], I can be
          found writing up posts for [my blog], editing my vim config, or playing badminton.

          [github]: http://github.com/phleet
          [Stack Overflow]: http://stackoverflow.com/users/303911/jamie-wong
          [my blog]: http://jamie-wong.com

      :markdown
        Work Experience
        ---------------
        ### Software Developer and Traveler at [Khan Academy][], September - December 2013 (Remote)
          * Working on making devs lives blissful with clientside test infrastructure and introducing a CommonJS module system
          * Visiting ~14 countries, mostly in Western Europe

        ### Security Engineer Intern at [Square][], January - April 2013
          * Worked on file-based secret management and distribution system deployed on all Square servers
          * Deployed applications into high availability, redundant environments
          * Created dashboard to track expiration of critical SSL certificates
          * Learned the horrors of crypto APIs
          * Tools/Frameworks used: Java, IntelliJ, HAproxy, openssl, BouncyCastle

        [Square]: http://square.com/

        ### Software Developer at [Khan Academy][], May - August 2012 (Remote)
          * Worked with [John Resig][] to build and launch the [Khan Academy Computer Science][] platform, used by more than 100,000 users
          * Had full ownership and responsibility over building the Python backend
          * Contributed heavily to client-side functionality and layout for the in-browser programming environment
          * Worked to improve tools and infrastructure, and fix security issues throughout the site
          * Made open source contributions to [Phabricator][], and open sourced two of my own vim plugins
          * Tools/Frameworks used: Google App Engine, jQuery, Backbone.js, Mercurial, git

        [Khan Academy Computer Science]: http://khanacademy.org/cs
        [John Resig]: http://ejohn.org/
        [Phabricator]: http://phabricator.org/
        [Khan Academy]: http://www.khanacademy.org/

        ### Frontend Developer at Facebook, September - December 2011
        #### A social network with 500M daily active users
          * Worked on early prototypes of Facebook Home, devtools, JS test infrastructure
          * Tools/Frameworks used: node.js, Jasmine, git

        ### Software Developer at [Kontagent][], January - April 2011
        #### Leading social analytics company tracking 600M+ events from 20M+ daily active users
          * Led a self-initiated, large scale refactor effort on the entire customer-facing component of the SaaS product
            with minimal supervision. Identified problem areas, made major architectural changes to existing code,
            destroyed dead and legacy code, and pushed the improved code to production
          * Authored baseline company-wide engineering documentation, JavaScript and Python style guides and best practices
          * Improved python test coverage from 0% to 40% for the large portions of the code base I was responsible for
          * Developed a tool to dramatically increase support staff efficiency by providing rapid access to the customer's view
          * Tools/Frameworks used: Django 1.1 and 1.2, jQuery, HTML, CSS, svn

        [Kontagent]: http://kontagent.com

        ### Web Developer at [The Working Group][], May - August 2010
        #### Ruby on Rails web development shop with a focus on entrepreneurship and agile development practices.
          * Project lead on Campus Perks' web-based contest system, which received over 500,000 page views. Used by RIM, Microsoft, Loblaws and others to create integrated social media campaigns - see [campusperks.ca][Campus Perks]
          * Interacted directly with clients, obtaining specification and recommending improvements
          * Tools/Frameworks used: Rails 2.x and 3.0, jQuery, Prototype, HTML (haml), CSS (sass), git, svn

        [Campus Perks]: http://campusperks.ca/
        [The Working Group]: http://twg.ca

        ### Camp Instructor at [Virtual Ventures Summer Camp][], Summers of 2007-2009
        #### Summer camp focussing on developing interest in science and technology
          * Designed original lesson plans to educate campers aged 10-15 about graphic design, computer science and information security
          * Taught groups of up to 40 campers about HTML, CSS and webpage creation through SSH and SCP
          * Created online registration system in php and MySQL serving hundreds of parents
          * Created AJAX powered camper sign in/out system used by camp instructors throughout summer 2009

        [Virtual Ventures Summer Camp]: http://virtualventures.ca

      .page_break

      :markdown

        Summary of Qualifications
        -------------------------

        ### Languages
          * JavaScript (jQuery, Backbone.js): 16 month workplace experience, personal projects
            * Learned about `this`, `.prototype` and `apply` making a [jQuery plugin for elegant DOM generation][JSONimal]

          * Python (Django, Google App Engine): 8 months workplace experience, personal projects, and competition
            * Learned to love docstrings, list comprehensions and pylint making a [2v2 Starcraft 2 Tournament Ladder viewer][SC2 Tournament Manager]

          * CoffeeScript: Personal projects
            * Learned to stop worrying about parens and `this` making [LL1 and SLR1 parsers for propositional logic][Propositional Logic Parser]

          * Ruby (Ruby on Rails): 4 months workplace experience, personal projects
            * Learned to love haml and sass while building a contest platform for [Campus Perks][]

          * php: Open source contributions, personal projects, and competition
            * Learned to fear the evil that is `$$` making a [command line client for navigating UW Course files][UWAngel-CLI]

          * VimL: Open source contributions
            * Learned about the crazy `a:`, `b:`, `s:` scoping system writing a [mercurial plugin for vim][vim-mercenary]

          * C99 and C++: Course work, personal projects, and competitions
            * Learned to grok pointers making a graphical animation of Towers of Hanoi

          * Experienced with Regular Expressions, MySQL, AJAX, JSON, (semantically correct) HTML, and CSS

        [JSONimal]: https://github.com/phleet/jsonimal
        [SC2 Tournament Manager]: https://github.com/phleet/sc2_tournament_manager
        [Propositional Logic Parser]: https://github.com/phleet/Propositional-Logic-Parser
        [Campus Perks]: http://campusperks.ca
        [UWAngel-CLI]: https://github.com/phleet/UWAngel-CLI/tree/master/php
        [vim-mercenary]: https://github.com/phleet/vim-mercenary

        Extracurricular
        ---------------
        ### Software Development Blog Author
        #### [jamie-wong.com][blog], November 2009 - Present
          * Blog about software development, currently consisting of more than 30 posts
          * Over 100,000 unique visitors
          * Highest traffic post, "[The Grep Test][]", received > 30,000 visits over two days

        [The Grep Test]: http://jamie-wong.com/2012/08/22/what-i-did-at-khan-academy/
        [blog]: http://jamie-wong.com/

        ### Avid Stack Overflow Contributor
        #### [stackoverflow.com][stack overflow] (username: Jamie Wong), March 29, 2010 - Present
          * Over 9,500 reputation, 200 answers

        [stack overflow]: http://stackoverflow.com/users/303911/jamie-wong

        ### ACM International Collegiate Programming Contest (ACM ICPC) Competitor
        #### [University of Waterloo][uw], September 2009 - February 2010
          * One of nine students selected to represent the University of Waterloo
          * Worked in a team of three to rapidly develop and implement solutions coded in C++ to problems within five hours
          * Debugged code and designed test cases on the fly during competition
          * 13th place finish out of 113 teams in East Central North America

        Awards
        ------

        ### Competition
          * Facebook Hacker Cup Online Round 2 Qualifier, 2011
          * Google Code Jam Online Round 2 Qualifier, 2009, 2010, and 2012 (username: phleet)
          * National Bronze Medallist, Canadian Computing Contest, University of Waterloo, February 2009
          * 1st Place in Eastern Ontario, Canadian Computing Contest, University of Waterloo, February 2009
          * 1st Place Team in Eastern Ontario, Educational Computing Organization of Ontario, April 2009

        ### Academic Awards
          * Faculty of Engineering Upper Year Scholarship, [University of Waterloo][uw], Spring 2011
            * Awarded to the student from each class (just over 100 people) with the highest GPA

          * Term Dean's Honour List, [University of Waterloo][uw], Fall 2009 - Summer 2013 (7 terms)
            * Awarded to students in excellent academic standing (combination of GPA and percentile rank from the top)

        Education
        ---------

        ### Candidate for Bachelor of Software Engineering
          * Honours Software Engineering, [University of Waterloo][uw], Ontario, September 2009 - Present
          * Major Average: 95%
          * Relevant Assignments:
            * Worked in a group of 4 to build a basic operating system to run on an ARM processor - CS 350
            * Wrote a compiler from a subset of C to MIPS in C++ - CS 241

        [uw]: https://uwaterloo.ca/
